body {
  max-width: 800px;
  width: 80%;
  margin: auto;
}
img {
  width: 100%;
}
.tarolo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.navbar {
  background-color: #e0f0ff;
  padding: 10px;
  gap: 10px;
  display: grid;
  grid-template-columns: 150px 150px 150px;
}
.navbar a {
  background-color: #cce5ff;
  padding: 6px 10px;
  text-decoration: none;
  color: #0000cc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #99ccff;
}
@media screen and (max-width: 600px) {
  body {
    width: 100%;
    font-size: 20px;
  }
  .tarolo {
    display: grid;
    grid-template-columns: 1fr;
  }
  .navbar {
    display: grid;
    grid-template-columns: auto;
  }
}
