body {
    background-color: lightblue;
}
img {
    width: 250%; max-width: 550px;
}
h1 {
    color: black;
    text-decoration: none;
}
h2 {
    color: red;
    text-decoration: none;
}
p {
    color: black;
    text-decoration: none;
}
